# Miscellaneous
WEBHOOK_SIGNING_SECRET=your-webhook-secret
FIREBASE_API_KEY=your-firebase-key
MEMORY_PLUGIN_PRIMARY=your-memory-plugin-primary
MEMORY_PLUGIN_SPECIALIZED=your-memory-plugin-specialized
